@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");

* {
  font-family: "Shippori Antique B1", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#grid {
  margin-left: 15px;
}

.pixel {
}

#grid {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  border: solid black 3px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

/* ============================COLOR SELECT SECTION======================== */

#color-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

#color-select::-webkit-color-swatch {
  border: black solid 3px;
  box-shadow: black 3px 3px;
}

#color-select::-moz-color-swatch {
  border: none;
}

/* ============================BUTTONS SECTION======================== */

#eraser-button,
#clear-button,
#rainbow-button,
#color-picker-button {
  height: 30px;
  font-size: 20px;
  text-align: center;
  border: solid black 3px;
  box-shadow: black 3px 3px;
  padding: 5px 15px;
  transition: ease-out 0.3s;
}

#eraser-button:hover,
#clear-button:hover,
#rainbow-button:hover,
#color-picker-button:hover {
  cursor: pointer;
}

.selected,
#clear-button:active {
  background-color: black;
  color: white;
  box-shadow: none !important;
}
